[submodule "NewStarGP-TelemetryMod"]
	path = NewStarGP-TelemetryMod
	url = git@github.com:Unity-Telemetry-Mods/NewStarGP-TelemetryMod.git
[submodule "SharedLib"]
	path = SharedLib
	url = git@github.com:Unity-Telemetry-Mods/SharedLib.git
[submodule "Distance-TelemetryMod"]
	path = Distance-TelemetryMod
	url = git@github.com:Unity-Telemetry-Mods/Distance-TelemetryMod.git
