[submodule "NewStarGP-TelemetryMod"]
	path = NewStarGP-TelemetryMod
	url = git@github.com:Unity-Telemetry-Mods/NewStarGP-TelemetryMod.git
[submodule "SharedLib"]
	path = SharedLib
	url = git@github.com:Unity-Telemetry-Mods/SharedLib.git
[submodule "Distance-TelemetryMod"]
	path = Distance-TelemetryMod
	url = git@github.com:Unity-Telemetry-Mods/Distance-TelemetryMod.git
[submodule "telemetry-lib"]
	path = telemetry-lib
	url = https://github.com/drowhunter/telemetry-lib.git
[submodule "SharedLib-legacy"]
	path = SharedLib-legacy
	url = https://github.com/Unity-Telemetry-Mods/SharedLib.git
